---
---

@import "{{ site.theme }}";

a.button {
  cursor: pointer!important;
  border: 0.2em solid #267CB9;
  text-decoration: none;
  color: white;
  background-color: #267CB9;
  border-radius: 1em;
  padding: 0.5em;
  transition: border-color .8s ease 0s, background-color  .8s ease 0s;
  box-shadow: 0 1px 4px rgba(0,0,0,0.6);
}
a:hover.button, a:focus.button {
  font-weight: normal;
  background-color: #069;
  border-color: #069;
  transition: border-color .4s ease 0s, background-color  .4s ease 0s;
}
.h-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
table ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.wrapper {
  width: 920px;
}
section {
  width: 560px;
}
@media print, screen and (max-width: 960px) {
  section {
    width: auto;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 10px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
