<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
  <header>
    {% if site.logo %}
    <img src="{{site.logo | relative_url}}" alt="Just Not Sorry Logo" class="logo" />
    {% endif %}

    <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    <p>{{ site.description | default: site.github.project_tagline }}</p>

    <p class="view"><a href="./index.html">Home</a></p>
    <p class="view"><a href="./phrases.html">List of Warning Phrases</a></p>
    <p class="view"><a href="./releases.html">Release Notes</a></p>
    <p class="view"><a href="{{ site.github.repository_url }}">View the Source Code on GitHub</a></p>

  </header>
  <section>

    {{ content }}

  </section>
  <footer>
    <p>This project is maintained by<br/>
      <a href="https://www.defmethod.com/"><img src="defmethod-logo.png" /></a>
    </p>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
